<body>
<div class="container my-5">
    <h2 class="mb-3" style=" color:brown">Edit Flight</h2>
    <div class="row">
        <div class="col-6">
<form ngNativeValidate #form="ngForm" (ngSubmit)="editflight()">
    <div class="form-group">
        <label for="id">Id</label>
        <input type="text" class="form-control" id="id"  name="{{flightrequest.id}}" [(ngModel)]="flightrequest.id" readonly  required>
      </div>
    <div class="form-group">
      <label for="flightid">Flight id</label>
      <input type="text" class="form-control" id="flightid" placeholder="Flight id" name="{{flightrequest.flightid}}" [(ngModel)]="flightrequest.flightid"  required>
    </div>
    <div class="form-group">
        <label for="dep_dest">Departure Destination</label>
        <input type="text" class="form-control" id="dep_dest" placeholder="Departure Destination" name="{{flightrequest.dep_dest}}" [(ngModel)]="flightrequest.dep_dest"  required>
      </div>
      <div class="form-group">
        <label for="dep_date">Departure Date</label>
        <input type="datetime-local" class="form-control" id="dep_date" name="{{flightrequest.dep_date}}|date:medium" [(ngModel)]="flightrequest.dep_date"   required>
      </div>
      <div class="form-group">
        <label for="arr_dest">Arrival Destination</label>
        <input type="text" class="form-control" id="arr_dest" name="{{flightrequest.arr_dest}}" [(ngModel)]="flightrequest.arr_dest" placeholder="Arrival Destination"  required>
      </div>
      <div class="form-group">
        <label for="arr_date">Arrival Date</label>
        <input type="datetime-local" class="form-control" id="arr_date" name="{{flightrequest.arr_date}}" [(ngModel)]="flightrequest.arr_date"  required>
      </div>
      <br>
      <div class="container">
      <div class="form-group" class="btn">
      <button type="submit" class="btn btn-primary">Save</button>
       </div>
       <a [routerLink]="['/flights']" class="btn" class="btn btn-primary">Back to List</a>
      
       </div>
  </form>
  <p style="color:red">{{msg}}</p>

</div>    </div>
  </div>
  </body>