body {
    background-image: url("~/src/app/images/airlinebackground7.png");
    background-repeat: no-repeat;
    position:fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-size: 100%;
}
.contain> .btn:not(:last-child) {
    margin-right:60px;
}