<body>
<div style="padding-top:100px;margin: left 100px;;">
    <div class="container">
        <div class="row">
            <div class="col-sm-0"> </div>
            <div class="col-md-0"></div>
                <h2 class="class3">Upload CSV File</h2>
            <br>
            <br>
            <form method="post" enctype="multipart/form-data" (ngSubmit)="uploadfile()">
                <div class="form-group">
                    <div class="col-md-10">
                       
                        <input type="file" name="file" (change)="fileselected($event)"  required/>
                    </div>
                </div>
             
                <div class="form-group">
                    <div class="col-md-10">
                        <div class="contain">
                         <button type="submit" class="btn btn-danger" class="btn"> Upload </button>
                     <!--<input type="submit" value="Upload" class="btn" class="btn btn-danger"/>-->
                            
                        <a [routerLink]="['/flights']" class="btn" class="btn btn-primary">Back to List</a>
                         
                        </div>
                    </div>
                </div>
            </form>
          

<p style="color:red">{{msg}}</p>
</div>
</div>
</div>
</body>
 